*{
    display: flex;
    color: #fff;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
body{
    height: 100vh;
    min-width: 100vw;
    background: linear-gradient(#0c001f,#000);
}
.header{
    background-color: #290007;
}
.logo{
    color: #a8001c;
}