*{
    margin: 0;
    padding: 0;
    color: #fff;
    border-radius: 5%;
    text-align: center;
    font-size: 16px;
    transition: 0.3s ease all;
}
title{
    display: none;
}
body{
    display: block;
    height: 100vh;
    min-width: 100vw;
    background: linear-gradient(#000,#0c001f);
}
.header{
    display: flex;
    border-bottom: 2px solid #0c001f;
    padding: 21px 35px;
}
.logo{
    font-size: 29px;
    text-shadow: 1px -1px 2px #423d33;
    color: #a8001c;
}
.hero{
    padding: 21px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videosarea{
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 0 15px;
    gap: 10px;
}
img{
    opacity: 0.8;
    height: 150px;
    box-shadow: 0;
}
img:hover{
    opacity: 1;
    height: 155px;
    box-shadow: 0 0 3px #000;
}
